body {
	text-align: center;
	margin: 0;
	padding: 3.5rem 1rem;
	font-family: sans-serif;
	font-size: 1.25rem;
	color: grey;
}

body::-webkit-scrollbar, textarea::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
	background-color: steelblue;
	border-radius: 0.25rem;
}

header {
	margin-bottom: 5rem;
}

header a {
	display: inline-block;
}

nav a {
	font-weight: bold;
	color: inherit;
}

header a, nav a {
	text-decoration: none;
}

h1 {
	margin-bottom: 0;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input, textarea {
	padding: 1rem;
	color: inherit;
	border-radius: 1rem;
}

textarea {
	resize: none;
	font-family: inherit;
}

button {
	padding: 2rem;
	font-weight: bold;
	background-color: inherit;
	border-radius: 50%;
	cursor: pointer;
}

input, textarea, button {
	font-size: inherit;
	border: solid 0.1rem steelblue;
}

p, textarea {
	line-height: 2rem;
}

h1, h2, button {
	color: steelblue;
}

.warning {
	border: solid 0.1rem orange;
}

.good-future-now {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	background-color: cornflowerblue;
	border-bottom: solid 0.5rem gold;
	border-radius: 50%;
}